{{define "title"}}Post #{{.Snippet.ID}}{{end}} {{define "main"}} {{$id := .ID}}
{{with .Snippet}}
<span>
  <ul class="horizontal-list">
    {{range .Category}}
    <li><b>{{.}}</b></li>
    {{end}}
  </ul>
</span>
<div class="snippet">
  <div class="metadata">
    <strong>{{.Title}}</strong>
    <span>#{{.ID}}</span>
  </div>
  <div class="post-image" style="max-height: 900px; overflow: hidden">
    <img
      alt="Image"
      src="/store/img/{{.Image}}"
      style="width: 100%; height: 100%; object-fit: cover"
    />
  </div>
  <pre style="white-space: pre-line">{{.Content}}</pre>
  <div class="metadata">
    <time>Author: {{.Author}} </time>
    <time>Created: {{ humanDate .Created }}</time>
  </div>
  <div class="metadata">
    <time
      ><form action="/reaction/snippet?id={{.ID}}" method="POST">
        <button name="reaction" value="likepost">Like:{{.Likes}}</button>
      </form></time
    >
    <time
      ><form action="/reaction/snippet?id={{.ID}}" method="POST">
        <button name="reaction" value="dislikepost">
          Dislike:{{.Dislikes}}
        </button>
      </form></time
    >
  </div>
  {{if eq .AuthorID $id}}
  <div class="metadata">
    <time
      ><form action="/snippet/delete" method="POST">
        <input type="hidden" name="image" value="{{.Image}}" />
        <input type="hidden" name="id" value="{{.ID}}" />
        <button>Delete</button>
      </form></time
    >
    <time><a href="/snippet/edit?id={{.ID}}">Edit</a></time>
  </div>
  {{end}}
  <div class="metadata">
    {{if eq .Reported 1}}
    <time>
      <span>Reported</span>
    </time>
    {{else}}
    <time>
      <form action="/snippet/report" method="POST">
        <input type="hidden" name="id" value="{{.ID}}" />
        <button>Report</button>
      </form>
    </time>
    {{end}}
  </div>
</div>
{{end}} {{if .Comments}}
<br />
<span><b>Comments:</b></span>
<br />
{{range .Comments}}
<div class="snippet">
  <pre><code>{{.Content}}</code></pre>
  <div class="metadata">
    <time>{{.Author}}</time>
    <time>{{humanDate .Created}}</time>
  </div>
  <div class="metadata">
    <time
      ><form
        action="/reaction/comment?id={{.SnippetID}}&cid={{.ID}}"
        method="POST"
      >
        <button name="reaction" value="likecomment">Like:{{.Likes}}</button>
      </form></time
    >
    <time
      ><form
        action="/reaction/comment?id={{.SnippetID}}&cid={{.ID}}"
        method="POST"
      >
        <button name="reaction" value="dislikecomment">
          Dislike:{{.Dislikes}}
        </button>
      </form></time
    >
  </div>
  {{if eq .AuthorID $id}}
  <div class="metadata" id="{{.ID}}">
    <time
      ><form action="/comment/delete" method="POST">
        <input type="hidden" name="snippetid" value="{{.SnippetID}}" />
        <input type="hidden" name="commentid" value="{{.ID}}" />
        <button>Delete</button>
      </form></time
    >
    <time><a href="/comment/edit?id={{.SnippetID}}&cid={{.ID}}">Edit</a></time>
  </div>
  {{end}}
  <div class="metadata" id="{{.ID}}">
    {{if eq .Reported 1}}
    <time>
      <span>Reported</span>
    </time>
    {{else}}
    <time>
      <form action="/comment/report" method="POST">
        <input type="hidden" name="snippetid" value="{{.SnippetID}}" />
        <input type="hidden" name="commentid" value="{{.ID}}" />
        <button>Report</button>
      </form>
    </time>
    {{end}}
  </div>
</div>
<br />
{{end}} {{end}}
<br />
<form action="/comment/create?id={{.Snippet.ID}}" method="POST" id="form">
  {{with .Form.FieldErrors.comment}}
  <label class="error">{{.}}</label>
  {{end}}
  <div>
    <input
      id="textInput"
      type="text"
      name="comment"
      placeholder="Want to express your opinion?"
    />
  </div>
  <div>
    <input type="submit" value="Comment" />
  </div>
</form>
{{end}}
